/* =============
    cafe
============= */

.cafe{


@include md{
 display: grid;
 grid-template-columns: 1fr;
 padding-left: 115px;
 padding-right: 115px;
 

 
img{

    width: 595px;
    height: 331px;
     
}
}
}

