/* =============
    community
============= */

.community{


@include md{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 115px;
    padding-right: 115px;

    img{
        width: 596px;
        height: 376px;
       
    }
   }
}


