/* =============
    products desktop
============= */



.products-desktop{
    .product-items-desktop{
    
    .flowers-column-1{
        grid-area: f1;  
    }

    .flowers-column-2{
        grid-area: f2;  
    }

    .flowers-column-3{
        grid-area: f3;  
    }


    .plants-column-1{
        grid-area: p1;  
    }


    .plants-column-2{
        grid-area: p2;  
    }

    .plants-column-3{
        grid-area: p3;  
    }


    .seeds-column-1{
        grid-area: s1;  
    }

    .seeds-column-2{
        grid-area: s2;  
    }

    .seeds-column-3{
        grid-area: s3;  
    }

    .gifts-column-1{
        grid-area: g1;  
    }


    .gifts-column-2{
        grid-area: g2;  
    }

    .gifts-column-3{
        grid-area: g3;  
    }
    
    
        
    @include sm{
    display: none;
    }

    @include md{
        display: none;
        }

    @include lg{
        display: grid;
        grid-template-columns: repeat(12);
        gap: 18px;
        grid-area: product-items-desktop;
        grid-template-areas: 
        "f1 f1 f2 f2 f3 f3"
        "p1 p1 p2 p2 p3 p3"
        "s1 s1 s2 s2 s3 s3"
        "g1 g1 g2 g2 g3 g3"; 
    }

}
}