/* =============
   products
============= */
.products{

.products-mobile{

@include sm{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 18px;
    padding-right: 18px;
    gap: 100px;
    }

    @include md{
        display: none;
    }

    @include lg{
        display: none;
    }


    @include xl{
        display: none;
    }

}

.flowers-tablet{
    @include sm{
        display: none; 
    }
}

@include md{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

}

