/* =============
    Services
============= */

.services{
    background-color: $champagne-pink;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    padding: 16px 19px;

    .flowers{
        grid-area: s1;
        @include md{
          img{
            width: 291px;
            height: 291px;
        } 
    }
}

    .plants{
        grid-area: s2;
        @include md{
            img{
              width: 291px;
              height: 291px;
          } 
      } 
    }

    .coffee{
        grid-area: s3;
        @include md{
            img{
              width: 291px;
              height: 291px;
          } 
      } 
    }

    .gifts{
        grid-area: s4;
        @include md{
            img{
              width: 291px;
              height: 291px;
          } 
      } 
    }
    
    .services-content{
        display: grid;
        grid-template-columns: repeat(4);
        gap: 16px;
        grid-area: services-content;
        grid-template-areas: 
        "s1 s1 s2 s2"
        "s3 s3 s4 s4";

        @include md{
         gap: 16px;
         padding-left: 32px;
         padding-right: 32px;   
        }

        @include lg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 32px 0px;
        gap: 16px;
        
    }
}
}


