/* =============
    Footer
============= */

footer {
Width: 338px;
Height: 42px;
Top: 253px;


.footer-script {
font-style: normal;
font-weight: 400px;
font-size: 14px;
line-height: 17px;

@include sm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

}


.social{
    display: flex;
    justify-content: center;
    gap: 16px;

    @include sm{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    @include md{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

}