/* =============
    Navigation
============= */
.topnav{
    width: 428px;
    height: 76px;
    padding: 16px 16px;  
    background-color: $seashell;

    @include  sm{
        display: flex;
        justify-content: space-between;
    }

    .menu-button{
        @include lg{
            display: none;
        }

        @include xl{
            display: none;
        }
    }


     

     


   .nav-links{
    @include sm{
        display: none;
    }

    @include md{
        display: none;
    }

    @include lg{
	    display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 16px;
    }



}
}







 