/* =============
    Navigation
============= */
.topnav{
    width: 428px;
    height: 76px;
    padding: 16px 16px;  
    background-color: $seashell;
     

     .menu-button{
         float: inline-start;
         top: 16px;
         left: 18px;

         @include lg{
             display: none;
         }

         @include xl{
            display: none;
        }
         
     }

     .store-logo{
        display: flex;
        justify-content: center;
        margin: auto;
        padding: auto;
     }

     .search-button{
        float: inline-end;
        top: 16px;
        left: 18px; 
    }

    .cart-button{
        float: right; 
        top: 16px;
        left: 18px; 
    }


   .nav-links{
    @include sm{
        display: none;
    }

    @include md{
        display: none;
    }

    @include lg{
	    align-items: left;
		display: flex;
		justify-content: flex-start;
		padding-top: 0;
		
    }


    @include xl{
		align-items: left;
		display: flex;
		justify-content: flex-start;
		padding-top: 0;
	
    
}

}
}







 